/* Form */
// Indurance Form 01
.indurance-form-01 {
    background-color: var(--main-color-one);
    padding: 32px 40px 40px 40px;
    h5.title {
        color: var(--white-color);
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 28px;
        display: block;
    }
    form {
        margin-top: 20px;
        input,
        textarea {
            color: var(--white-color);
            padding: 10px;
            background-color: #e7450f;
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid transparent;
            &:focus {
                border: 1px solid transparent;
            }
        }
        ::placeholder {
            color: var(--white-color);
            text-transform: capitalize;
            opacity: .8;
        } 
        button {
            padding: 10px;
            color: var(--main-color-one);
            background-color: var(--white-color);
            font-family: var(--heading-font);
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            transition: $transition;
            border: 1px solid transparent;
            width: 100%;
        }
    }
}

// Contact Area Form
.indurance-form-02 {
    form {
        input,
        textarea {
            padding: 20px 30px;
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid var(--border-color);
        }
        textarea {
            height: 150px;
        }
        ::placeholder {
            text-transform: capitalize;
        } 
        button {
            border: 1px solid transparent;
        }
    }
}
