/* Modal Content */
.info-popup {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.54);
    position: fixed;
    opacity: 0;
    // transition: all .3s ease;
    &.active {
        opacity: 1;
        z-index: 9999;
    }
    &-content {
        margin: auto;
        width: 50%;
        position: relative;
        &__img {
            width: 100%;
            height: 100%;
            &--one {
                background-image: url(../img/popup-info.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--two {
                background-image: url(../img/blog-bg.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--three {
                background-image: url(../img/slide-three.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &__text {
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: center;
            background: #fff;
            &-header {
                margin-bottom: 30px;
            }
            &-body {
                margin-bottom: 30px;
                .divide {
                    width: 50px;
                    height: 1px;
                    background: var(--paragraph-color);
                    display: inline-block;
                }
            }
            &-is {
                display: block;
                text-transform: capitalize;
            }
        }
        &__title {
            margin-top: 0;
            margin-bottom: 0;
        }
        &_close {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 40px;
            height: 40px;
            background: var(--main-color-one);
            display: inline-block;
            border-radius: 30px;
            border: none;
            color: white;
            opacity: 1;
            z-index: 1;
            &:hover {
                cursor: pointer;
            }
            span {
                font-size: 12px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.location-popup {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.54);
    position: fixed;
    opacity: 0;
    // transition: all .3s ease;
    &.active {
        opacity: 1;
        z-index: 9999;
    }
    &-content {
        margin: auto;
        width: 50%;
        position: relative;
        &__img {
            width: 100%;
            height: 100%;
            &--one {
                background-image: url(../img/popup-info.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--two {
                background-image: url(../img/blog-bg.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--three {
                background-image: url(../img/slide-three.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &__text {
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: center;
            background: #fff;
            &-header {
                margin-bottom: 30px;
            }
            &-body {
                margin-bottom: 30px;
                .divide {
                    width: 50px;
                    height: 1px;
                    background: var(--paragraph-color);
                    display: inline-block;
                }
            }
            &-is {
                display: block;
                text-transform: capitalize;
            }
        }
        &__title {
            margin-top: 0;
            margin-bottom: 0;
        }
        &_close {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 40px;
            height: 40px;
            background: var(--main-color-one);
            display: inline-block;
            border-radius: 30px;
            border: none;
            color: white;
            opacity: 1;
            z-index: 1;
            &:hover {
                cursor: pointer;
            }
            span {
                font-size: 12px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    #map {
        height: 100%;
    }
    .template-btn {
        padding: 7px 24px;;
    }
}

.message-popup {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.54);
    position: fixed;
    opacity: 0;
    // transition: all .3s ease;
    &.active {
        opacity: 1;
        z-index: 9999;
    }
    &-content {
        margin: auto;
        width: 50%;
        position: relative;
        &__img {
            width: 100%;
            height: 100%;
            &--one {
                background-image: url(../img/popup-info.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--two {
                background-image: url(../img/blog-bg.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--three {
                background-image: url(../img/slide-three.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &__text {
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: center;
            background: #fff;
            padding-right: 40px;
            &-header {
                margin-bottom: 30px;
            }
            &-body {
                margin-bottom: 30px;
                .divide {
                    width: 50px;
                    height: 1px;
                    background: var(--paragraph-color);
                    display: inline-block;
                }
            }
            &-is {
                display: block;
                text-transform: capitalize;
            }
        }
        &__title {
            margin-top: 0;
            margin-bottom: 0;
        }
        &_close {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 40px;
            height: 40px;
            background: var(--main-color-one);
            display: inline-block;
            border-radius: 30px;
            border: none;
            color: white;
            opacity: 1;
            z-index: 1;
            &:hover {
                cursor: pointer;
            }
            span {
                font-size: 12px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    textarea, input {
        width: 100%;
        border: 1px solid var(--secondary-color);
        padding: 15px 20px;
        &:focus {
            border: 1px solid var(--secondary-color);
        }
    }
    textarea {
        height: 100px;
        margin: 24px 0 16px;
    }
    .template-btn {
        padding: 7px 24px;
        margin: auto;
    }
}


