// Custom Typography
h1.title {
    font-size: 75px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.15;
}

h2.title {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.15;
}

h3.title {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.15;
}

h4.title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.15;
}

h5.title {
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.15;
}

h6.title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.15;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
.slick-slide:focus {
    outline: none;
}

button {
    cursor: pointer;
}

// Animation 
.item-bounce {    
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out; 
    -moz-animation: bounce 3s infinite ease-in-out; 
    animation: bounce 3s infinite ease-in-out;
}
@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

.item-zooming {    
    -webkit-animation: zooming 3s infinite ease-in-out;
    -o-animation: zooming 3s infinite ease-in-out;
    -ms-animation: zooming 3s infinite ease-in-out; 
    -moz-animation: zooming 3s infinite ease-in-out; 
    animation: zooming 3s infinite ease-in-out;
}
@keyframes zooming {
    0% { transform: scale(1)  }
    50% { transform: scale(1.1) }
    100% { transform: scale(1) }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 40px rgba(255,255,255, 0.1)
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 40px rgba(255,255,255, 0.1), 0 0 0 60px rgba(255,255,255, 0)
    }
}

// Commone Style
.widget-nav-menu {
    margin-bottom: 30px;
}
.widget-button-area {
    li {
        +li {
            margin-top: 30px;
        }
    }
} 

// Service Widget
.service-widget {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    transition: $transition;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: $primary-color;
        transform: scale(1, 0);
        transition: $transition;
    }
    &:hover {
        background-color: #f3f3f3;
        &::before {
            transform: scale(1, 1);
        }
    }
    .service-icon {
        margin-right: 10px;
        color: $primary-color;
        font-size: 30px;
        line-height: 40px;
    }
}
.service-widget.widget-border-bottom {
    border-bottom:  1px solid $border-color;
}

// Section Title
.section-title {
    position: relative;
    text-align: center;
    &.white{
        &:before{
            display: none;
        }
        .subtitle{
            color: #fff;
        }
        .title{
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
            color: #fff;
            span{
                font-size: 48px;
                line-height: 58px;
                font-weight: 700;
                color: var(--main-color-one);
                text-transform: capitalize;
            }
        }
        .title-paragraph{
            color: rgba(#fff,.8);
        }
    }
    &:before {
        content: '\f275';
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 120px;
        font-family: 'fontAwesome';
        color: #eee;
        z-index: -1;
    }
    .subtitle {
        color: $primary-color;
        font-family: var(--heading-font);
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 26px;
    }
    .title{
        font-size: 48px;
        line-height: 58px;
        font-weight: 700;
    }
    .title-paragraph {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-transform: capitalize;
        max-width: 750px;
        margin: 0 auto;
    }
}



