/*-------------------------
    Footer Area
-------------------------*/
.footer-area {
    .footer-top {
        background-color: var(--secondary-color);
        background: url('../images/home-01/footer-bg.jpg') no-repeat center / cover;
    }

    .info-bar-bottom {
        padding: 60px 0;
        .info-bottom-right {
            color: var(--white-color);
            opacity: .8;
            span {
                color: var(--white-color);
            }
        }
    }

    .footer-widget-area {
        padding:80px 0 45px;
        border-top: 1px solid rgba(255,255,255,.2);
    }

    .footer-copyright-area {
        padding: 20px 0;
        color: #b6bbc5;
        background-color: #050a16;
        font-size: 14px;
        span {
            margin: 0;
            text-transform: capitalize;
        }
        .copyright-right {
            text-align: right;
        }
    }
}