/* Home 02 */
.home-02-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    .subtitle {
        color: var(--white-color);
        font-size: 30px;
        line-height: 40px;
        font-family: var(--heading-font);
        font-weight: 500;
        margin-bottom: 10px;
        display: block;
        text-transform: capitalize;
    }
    .title {
        font-size: 70px;
        line-height: 80px;
        font-weight: 700;
        color: var(--main-color-one);
    }
    p {
        color: rgba(#fff,.8);
        max-width: 650px;
        font-size: 20px;
        line-height: 30px;
        word-break: break-all;
        margin: 0 auto;
    }
    .btn-wrapper{
        margin-top: 30px;
    }
    .home-01-banner-content {
        padding: 180px 0 315px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(25, 29, 51,.7), transparent);
    }
}

// Indurance Feature Item 02
.indurance-feature-item-02 {
    padding: 20px;
    background-color: var(--white-color); 
    position: relative;
    margin-bottom: 30px;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 30px solid var(--main-color-one);
        border-left: 30px solid transparent;
        transition: $transition;
    }
    &:hover {
        &:before {
            border-bottom: 70px solid var(--main-color-one);
            border-left: 70px solid transparent;
        }
    }
    .feature-content {
        display: flex;
        margin-top: 20px;
        align-items: center;
        .feature-icon {
            margin-right: 20px;
            color: var(--main-color-one);
            font-size: 50px;
            line-height: 60px;
        }
        .title{
            font-size: 20px;
            line-height: 30px;
        }
    }
}

// Services Home 02 
.services-home-02 {
    .services-title {
        .subtitle {
            color: $primary-color;
            font-family: var(--heading-font);
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 26px;
        }
        .title{
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
        }
    }
    .indurance-about-item {
        .about-icon {
            color: var(--main-color-one);
        }
    }
}

// About Home 02 
.about-home-02 {
    background-color: var(--white-soft-color);
    .section-title {
        &:before {
            color: #cecece;
        }
    }
    .nav-pills {
        justify-content: space-between;
        .nav-link {
            border-radius: 0;
        }
        a {
            width: 32%;
            margin-bottom: 40px;
            background-color: var(--white-color);
            +a {
                margin-top: 0;
            }
            &::before {
                right: 0;
                border-left: 15px solid transparent;
            }
        }
        .tab-list-icon {
            align-self: center;
        }
        .active {
            p {
                color: var(--white-color);
            }
        }
    }
}

// Quote Home 02
.quote-home-02 {
    background-color: var(--white-soft-color);
}