/* Project Single */
.project-detail-area {
    .project-content {
        margin-top: 26px;
        ul {
            margin-top: 20px;
            li {
                +li {
                    margin-top: 10px; 
                }
                i {
                    color: var(--main-color-one);
                    margin-right: 10px;
                }           
            }
        }
    }
    .widget-nav-menu {
        background-color: var(--white-soft-color);
        padding: 30px 30px 40px;
        h5.title {
            font-weight: 700;
        }
        ul {
            margin-top: 20px;
            li {
                text-transform: capitalize;
                +li {
                    margin-top: 10px;
                }
                b {
                    color: $heading-color;
                }
            }
        }
    }
}