/* Project */

// Indurance Projet Tab
.indurance-project-tab {
    text-align: center;
    margin-bottom: 40px;
    ul {
        li {
            color: $heading-color;
            text-transform: capitalize;
            display: inline-block;
            margin: 0 10px;
            font-size: 18px;
            font-family: var(--heading-font);
            cursor: pointer;
        }
        .active {
            color: var(--main-color-one);
        }
    }
}