/* Service */

// Indurance Feature Item 04
.indurance-feature-item-04 {
    background-color: var(--white-color); 
    position: relative;
    margin-bottom: 30px;
    &:hover{
        .feature-content{
            .feature-icon{
                transform: rotateY(360deg);
            }
            .freaure-title{
                .title{
                    color: var(--main-color-one);
                }
            }
        }
    }
    .feature-image{
        overflow: hidden;
       img{
         width: 100%;
         transform: scale(1.01);
       }
    }
    .feature-content {
        display: flex;
        padding: 10px 20px;
        border: 1px solid #e2e2e2;
        border-top: none;
        .feature-title{
            flex: 1;
        }
        .title{
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
        }
        .feature-icon {
            margin-right: 20px;
            font-size: 40px;
            line-height: 50px;
            color: var(--main-color-one);
            transition: all 500ms;
        }
    }
}